body {
    background-color: DarkGrey;
    font-family: Verdana;
    font-size: 250%;
    color: Azure;
}
input {
    font-size: 200%;
    text-align: left;
    width: 8em;
    color: Azure;
    background-color: Gray ;
    border: none;
}
.vote {
    color: SkyBlue;
}
